@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
div,
textarea,
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* .container {
  max-width: 410px;
  min-width: 224px;
  margin: 50px auto 0px;
  background-color: #fff;
  border-bottom: 3px solid #ccc;
  opacity:0.8 ;
} */
.row {
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
    position: absolute;
    bottom: 0;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    display: block;
    background-image: url('https://images.unsplash.com/photo-1577949098263-a5fc867be37b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
    transform-origin: center center 0;
    transform:  translateZ(-1px) scale(2);
    z-index: -2;
    height: 100vh;
}
h3 {
  font-weight: 300;
  font-size: 2.8125em;
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
  text-align: center;
}
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
  margin-bottom: 50px;
}
.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #B3B3B3;
  border-bottom-color: #8C8C8C;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.btn:hover {
  background-color: #BFBFBF;
}
.btn.btn-submit {
  background-color: #4F6FAD;
  border-bottom-color: #374D78;
}
.btn.btn-submit:hover {
  background-color: #5F7DB6;
}
form {
  max-width: 100%;
  display: block;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4F6FAD;
  background-image: linear-gradient(to right, #EE9CB4, #4F6FAD);
}
form ul li .req {
  color: #EE9CB4;
}
form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #000000;
  font-size: 2em;
  font-weight: 300;
}
form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
form small {
  color: #4F6FAD;
  margin: 0 0 0 0.5em;
}
@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }
  input {
    width: 100%;
  }
  label {
    width: 100%;
    display: inline-block;
    clear: both;
  }
  li,
  p {
    width: 100%;
  }
  input.btn {
    margin: 1.5em 0 0.5em;
  }
  h1 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.125em;
  }
  li small {
    display: none;
  }
}
.titlecontact{
  margin-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  border: #fff solid 6px;
}
.row.body{
  margin-bottom: 500%;
  margin:200px auto;
  width:100%;
   /* position:sticky; */
   z-index: 1;
   padding:100px 0;
   text-align: center;
   /* overflow:hidden; */
}
.body3{
  height: 150vh;
  max-height: 100%;
  /* overflow: hidden; */
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
  padding: 0 40px;
  background-image: url(https://www.getbellhops.com/wp-content/uploads/2019/02/Cincinnati1.jpeg);
  background-repeat:round;
  object-fit: cover;
}
.containerContact{
  opacity: 0.9;
  background-color: #fff;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}